#menu, #menu li {
	margin: 0;
	padding: 0;
}
#menu {
	background: #DDEDE4; /* цвет фона */
}
#menu li {
	display: inline-block;
	text-align: center; /* текст горизонтально по центру */
}
#menu a {
	display: block; /* ссылка растягивается на весь пункт li */
	padding: 7px 15px;
	text-decoration: none; /* убрать нижнее подчёркивание у ссылок */
}
#menu img:hover {
	opacity: 0.5; /* подсветка иконки меню при наведении */
}